[2021-11-24 10:11] FlyEgle opened #1 "Why use the pool(x) - x"
I have a quesition for use the pool(x) - x

I give the answer is : pooling is used for smooth x, '-' mean model ignore the same value with the pool size and focus the neightbor wihch small or bigger than smooth x. Reinforcement the relation for the 8-neighboor.

So this pooling is the local-relation, than use the conv mlp  mixer to exchange the information for gloabl.

Is that reason? Thank for yo

[2021-11-24 10:36] yuweihao commented on #1
Hi @FlyEgle ,

As shown in the paper, since the MetaFormer block already has a residual connection, subtraction of the input
itself is added in Equation (4).

[2021-11-24 10:47] #1 closed

[2021-11-24 14:00] bonlime opened #2 "Why not using DW conv"
Hi, thanks for the paper.
While your paper does again show that any mixing in spatial domain could work in CV, from practical point of view there is a large issue with using AvgPool2d. On inference it's not faster that DepthwiseConv but using a fixed filter instead of learned one, which leads to much lower network capacity. Have you tried using DW 3x3 instead of AvgPool ?

[2021-11-24 14:16] yuweihao commented on #2
Hi @bonlime ,

This paper does not target designing token mixers to achieve SOTA performance. Instead, we want to demonstrate that the competence of transformer/MLPlike models primarily stems from the general architecture MetaFormer instead of the equipped specific token mixers. Thus, what we want is the most simple token mixer. AvgPool2d (pool size 3x3) is more simple than DW, so we select it in

[2021-11-25 03:32] jinfagang opened #3 "when will detection configs out?"
when will detection configs out?

[2021-11-25 08:31] yuweihao commented on #3
Hi @jinfagang ,

Thank you for your attention. We will release it soon. We do not particularly tune the hyper-parameters for detection. You can just use common configs in the mmdetection package.  The model code for detection is also in models/poolformer.py.

[2021-11-26 00:21] Dong-Huo opened #4 "About subtract in pooling"
Hi, thank you for publishing such a nice paper. I just have one question. I do not understand the subtraction of the input in eqn.4. Is it necessary? What will happen if we just do the average pooling without substrating the input?

[2021-11-26 01:55] yuweihao commented on #4
Hi @Dong-Huo ,

As shown in the paper, since the MetaFormer block already has a residual connection, subtraction of the input
itself is added in Equation (4). Experimentally, average pooling without substrating still works, but it is a little worse than adding subtraction.

[2021-11-26 01:58] yuweihao commented on #4
Duplicate of #1

[2021-11-26 02:36] chuong98 opened #5 "Checkpoints of the Ablation study"
Hi, thanks for your amazing work.
I am reading the Tab 6, and I am surprised because the method is so simple and very effective, especially when the Pooling is replaced with Identity Mapping. Top1 74.3 on ImageNet-1k with only Conv1x1 and Norm layer. I am thrilled...
Can you release this checkpoint so that we can verify.  Thanks again.
![image](https://user-images.githubusercontent.com/15174756/14

[2021-11-26 02:43] chuong98 commented on #5
Is one of the following implementation correct for the Identity Case ?:
Case A:
[code]
Case B:
[code]

[2021-11-26 03:30] jinfagang commented on #3
@yuweihao any timeline for this?

[2021-11-26 04:00] VCBE123 opened #6 ""pretrained=True” do not really load the pre-trained model"

[2021-11-26 10:38] Sumching commented on #2
So, what exactly is all you need？ patches, specific network structure, or just numerous parameters...

[2021-11-26 13:41] yuweihao commented on #5
Hi @chuong98 ,

There is a simple way to implement it. You just need to modify `self.token_mixer = Pooling(pool_size=pool_size)` to `self.token_mixer = nn.Identity()`.

The checkpoint is shown in:
[poolformer_id_s12.pth.tar](https://drive.google.com/file/d/1kT4uWWhEesjosKlwXv6obLBoOm4_gACO/view?usp=sharing)

[2021-11-26 13:49] yuweihao commented on #2
Hi @Sumching ,

In this paper, we claim "MetaFormer is actually what you need". We do not use the word "all".

[2021-11-26 14:02] yuweihao commented on #3
Hi @jinfagang ,

Thank you for your attention. I will release it in a week.

[2021-11-26 14:04] yuweihao commented on #6
Hi @VCBE123 ,

Yes, this not works now. You can validate the model by:
https://github.com/sail-sg/poolformer#3-validation

[2021-11-27 01:19] gaobb opened #8 "I only obtain 0.096 top1 acc when I test the official poolformer_s12 model."
hi, all

I only obtain 0.096 top1 acc when I test the official  poolformer_s12 model. Has anyone run into the same problem?

torch=1.7.0a0
torchvision=0.8.0a0+45f960c
timm=0.5.0

<img width="1014" alt="wecom-temp-873f40c8a9cede63970576ee673f6570" src="https://user-images.githubusercontent.com/9379079/143663522-ed0a059c-3a8b-46b3-bf1a-a2b020789766.png">

[2021-11-27 01:48] gaobb commented on #8
The target labels of all validation images are incorrectly initialized to 0 due to the no-compliant folder structure of the validation set.

The correct folder structure of the validation set is as follows:

[code]

[2021-11-27 01:48] #8 closed

[2021-11-27 02:05] chuong98 commented on #5
Wonderful! I evaluated the ckpt ang got 74.336.
![image](https://user-images.githubusercontent.com/15174756/143664687-87cb651d-7a16-469a-b21d-e73c7bb2f750.png)
But when I inspect the speed, the sp_12 is about 3x slower than ResNet 18. I inspect the model, and when replace the GroupNorm with BatchNorm, the inference time reduces 1/2.
Would you mind release the ckpts of Using BatchNorm/and/or ReLU ?

[2021-11-27 03:30] chuong98 commented on #5
Regarding to using Identity instead of pooling, I can't explain why it works. Because pooling is the only mechanism the network learns about the spatial information. Now we even drop the pooling. Can you share your thoughts?

[2021-11-28 07:56] yuweihao commented on #5
Hi @chuong98 ,

The checkpoints of BatchNorm or ReLU are in [poolformer_bn_s12.pth.tar](https://drive.google.com/file/d/1c0TIlfZgumXcKEQxNrnzpwIkLZ0UoH2P/view?usp=sharing), [poolformer_relu_s12.pth.tar](https://drive.google.com/file/d/106uyS3JXGlwLDIVyI7n1GtHcdAu5Na7W/view?usp=sharing).

The reason why the identity token mixer still works is that sometimes local information is enough to predict. F

[2021-11-29 07:48] Sumching commented on #2
Interesting! I replaced the attention in Uformer with pooling and achieved the same effect on low-level tasks.

[2021-11-29 08:00] yuweihao commented on #2
@Sumching ,

Wow, interesting! Maybe you can write a tech report to show this finding.

[2021-11-29 14:27] #5 closed

[2021-11-30 07:53] tinyalpha opened #9 "About Normalization"
Hi, thanks for your excellent work.
In your ablation studies (section 4.4), you compared Group Normalization (group number is set as 1 for simplicity), Layer Normalization, and Batch Normalization. The conclusion is that Group Normalization is 0.7% or 0.8% higher than Layer Normalization or Batch Normalization.
But when the number of groups is 1, Group Normalization is equivalent to Layer Normaliz

[2021-11-30 09:04] yuweihao commented on #9
Hi @tinyalpha ,

In transformers, the conventional data format is [B, N, C]. Transformers usually use Layer Normalization that only applies to the channel dimension. If the data format is [B, C, W, H], like that in this repo, it means it only normalizes C, not including [W, H]. Currently, there is no PyTorch API LayerNorm for this data format, I implement it [here](https://github.com/sail-sg/poolf

[2021-11-30 12:02] tinyalpha commented on #9
Thanks for your explanation!

[2021-11-30 12:02] #9 closed

[2021-11-30 13:50] yuweihao commented on #9
You are welcome~

[2021-12-02 05:39] 072jiajia opened #10 "Can I say PoolFormer is just a non-trainable MLP-like model?"
Hi! Thanks for sharing the great work!
I have some questions about PoolFormer.
If I explain PoolFormer like the following attachments, can I say PoolFormer is just a non-trainable MLP-like model?

![image](https://user-images.githubusercontent.com/63368701/144363347-8fa0f251-0436-4b42-a3c9-c418d6edd0c5.png)
![image](https://user-images.githubusercontent.com/63368701/144363398-a6d9089f-caf8-4dc7-ab

[2021-12-02 05:58] yuweihao commented on #10
Hi @072jiajia ,

Sure. *There are a thousand Hamlets in a thousand people's eyes.“ Feel free to explain PoolFormer from different aspects.

[2021-12-02 06:13] 072jiajia commented on #10
Thanks for replying!
Assuming the above statements are true, I'm curious about why your model's performance can be better than ResNet's?
Because It is just a ResNet with some layers whose weights are not trainable.
Or did I miss any part of the model?

[2021-12-02 06:30] yuweihao commented on #10
Hi @072jiajia , in this paper, we claim that *MetaFormer is actually what you need for vision*. The competitive performance of PoolFormer steams from MetaFormer. You can see that the MetaFormer architecture is different from ResNet architecture. If you specify the token mixer in Metaformer as just a simple learnable Depthwise Convolution, you can get better performance than PoolFormer.

[2021-12-02 10:35] Yangr116 opened #11 "Some question about Layernorm and GroupNorm."
Thanks for your good work in the CV area.
I have some questions about GroupNorm and LayerNorm.  The GroupNorm with group_num = 1 is equivalent to the LayerNorm. Why does GroupNorm outperform LayerNorm in your ablation study (Table. 6)?

A simple example from https://pytorch.org/docs/stable/generated/torch.nn.GroupNorm.html

input = torch.randn(20, 6, 10, 10)
\# Separate 6 channels into 3 groups
m

[2021-12-02 10:57] yuweihao commented on #11
Hi @Yangr116 , this is a small mistake in the PyTorch GroupNorm API explanation. I have reported it to PyTorch. This issue is duplicated to issue #9 where I have given some explanation. Hope this can help you to understand it.

[2021-12-02 10:57] yuweihao commented on #11
Duplicate of #9

[2021-12-02 11:03] Yangr116 commented on #11
Thanks for your quickly reply!

---Original---
From: "Weihao ***@***.***&gt;
Date: Thu, Dec 2, 2021 18:57 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [sail-sg/poolformer] Some question about Layernorm and GroupNorm. (Issue #11)

Duplicate of #9

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage noti

[2021-12-02 11:29] #11 closed

[2021-12-03 07:11] yangcf10 commented on #4
@yuweihao Have you tried removing the residual connection for token mixer? Currently you subtract "normed" x (basically `y = x + pooling(norm(x)) - norm(x)`) which seems weird.

[2021-12-03 08:30] yuweihao commented on #3
Hi @jinfagang ,

Sorry that I have other things to do these days. Give me one day to arrange the detection code and configs. I will release them tomorrow.

[2021-12-03 08:41] yuweihao commented on #4
Hi @yangcf10 ,

It is not elegant to remove the residual connection in the block just for the pooling token mixer. It is better to remain the residual connection whatever the token mixer is so that we can just freely specify the token mixers in MetaFormer.

Instead, I have tried removing subtraction, i.e., replacing `return self.pool(x) - x` with `return self.pool(x)` in my preliminary experiments

[2021-12-03 08:49] yangcf10 commented on #4
Thanks for the prompt reply! I understand it's mostly from empirical results. But any insight why we should do the subtraction? The explanation "since the MetaFormer block already has a residual connection so we should add subtraction" seems not to be convincing. If we treat token mixer as an abstracted module, then we shouldn't consider the residual connection when designing it.

[2021-12-03 09:01] yuweihao commented on #4
Hi @yangcf10 ,

Thank you for your feedback and suggestion. We will attempt to further improve the explanation "since the MetaFormer block already has a residual connection so we should add subtraction".

[2021-12-03 10:55] jinfagang commented on #3
@yuweihao that's nice, take your time.

[2021-12-03 17:47] Vermeille commented on #4
Why don't we just remove the residual connection and the subtraction then? It would save compute and memory.

What I'm more concerned about is that the subtraction and the residual connection don't use the same "x" so they don't null each other. Indeed, the residual connection uses a pre-norm x while the subtraction uses a post-norm x.

It changes the semantics to something along the lines of a bl

[2021-12-03 21:17] Vermeille commented on #4
okay I saw your other comments about using DW conv instead of pooling. I understand that poolformer is not what your paper is about it but about the MetaFormer and the poolformer is indeed just a demonstration. Also, the fact that DW conv brings similar or superior performance shows that there is nothing special in this pooling layer, let alone this subtraction. This is missing the forest for the

[2021-12-04 04:12] yuweihao commented on #4
Hi @Vermeille ,

Many thanks for your attention to this work and insightful comment. Yeah, the target in this work is to demonstrate the competence of transformer-like models primarily stem from the general architecture MetaFormer. The Pooling/PoolFormer are just tools to demonstrate the MetaFormer. If considering PoolFormer as a practical model to use, as your comment, it can be further improved

[2021-12-04 13:56] yuweihao commented on #3
Hi @jinfagang ,

The detection configs are released [here](https://github.com/sail-sg/poolformer/tree/main/detection).

[2021-12-05 03:28] jinfagang commented on #3
@yuweihao thank u. BTW, have u tested speed between poolformer-s series and pvtv2 series model? how's the speed in terms of their smallest one? For instance, poolformer-s12 and pvtv2-b0?

[2021-12-05 12:28] ShihuaHuang95 opened #12 "when will segmentation configs out?"
Many thanks for your excellent work.
   I have tried to used the pretrained  PoolFormer_S12 with SemanticFPN configs from MMSegmentation with default setting (16w iterations). But, the model just achieved 36+ mIoU (Single-scale testing) over ADE20k, which is much lower than the result (37.2) in the main paper.
  Could you please share the segmentation configs?

[2021-12-06 09:24] QY1994-0919 opened #14 "Error: About self.pool(x)"
Hello, I am more interested in the poolformer you proposed, but an error occurred during the use of PoolFormerBlock, as follows：
Traceback (most recent call last):
  File "train.py", line 545, in <module>
    train(hyp, opt, device, tb_writer)
  File "train.py", line 89, in train
    model = Model(opt.cfg or ckpt['model'].yaml, ch=3, nc=nc, anchors=hyp.get('anchors')).to(device)  # create
  File "

[2021-12-06 14:56] yuweihao commented on #3
Hi @jinfagang ,

I have not compared the speed between PoolFormer and PVT-v2.  The "FLOPs" in PVT-v2 paper actually mean MACs. You can compare the MACs between Table 2 in the MetaFormer paper and Table 2 in the PVT-v2 paper, both of which show the MACs of the two models under the input of 224 * 224. This may roughly refelt their speed.

[2021-12-06 15:01] jinfagang commented on #3
@yuweihao both flops and macs hardly gives users a very straight sense of speed. What's the inference speed of poolformer-retinanet on a normal GPU such as 3090 or v100?

[2021-12-06 15:07] yuweihao commented on #12
Hi @ShihuaHuang95 ,

Thank you very much for your attention to our work. I will push myself to arrange and release the configs and models in about 3 days, no more than a week. Actually, the segmentation configs of PoolFormer just simply follow those of PVT although PVT's hyper-parameters may not be optimal to PoolFormer.

[2021-12-06 15:11] yuweihao commented on #14
Hi @QY1994-0919 , it seems that the error resulted from the instantiation of nn.AvgPool2d. Could you show it?

[2021-12-07 02:32] QY1994-0919 commented on #14
Hi @yuweihao  I did not revise the  instantiation of nn.AvgPool2d ，the code of  nn.AvgPool2d as follow:
class Pooling(nn.Module):
    """
    Implementation of pooling for PoolFormer
    --pool_size: pooling size
    """
    def __init__(self, pool_size=3):
        super().__init__()
        self.pool = nn.AvgPool2d(pool_size, stride=1, padding=pool_size//2, count_include_pad=False)

        """

[2021-12-07 17:48] yuweihao commented on #14
Hi @QY1994-0919 , How do you use Pooling?

[2021-12-07 18:06] yuweihao commented on #3
Hi @jinfagang , currently I do not have GPU 3090 or V100 to use, could you please help test PoolFormer on these GPUs? Many Thanks.

[2021-12-08 06:51] loucif01 opened #15 "Recommendations for training poolFormer on custom dataset?"
Hello, Thank you for this great contribution. Can you please clarify recommendations for training on a custom dataset?

[2021-12-08 13:12] QY1994-0919 commented on #14
Thank you! I have solved this problem

[2021-12-10 00:50] yuweihao commented on #12
Hi @ShihuaHuang95 ,

The segmentation configs are released [here](https://github.com/sail-sg/poolformer/tree/main/segmentation).

[2021-12-10 00:51] ShihuaHuang95 commented on #12
Noted with thanks!

[2021-12-13 04:19] 13952522076 commented on #9
This really helps. Thanks a lot.

[2021-12-13 04:43] #14 closed

[2021-12-13 04:43] #12 closed

[2021-12-13 04:43] #3 closed

[2021-12-13 07:30] yuweihao commented on #15
Hi @loucif01 ,

Sorry that I do not have much experience in training on other custom datasets. Maybe you can tune the learning rate and drop-path rate.

[2021-12-15 15:58] jinfagang opened #16 "Bug on transfer poolformer to detr"
Hi, I got this bug when transformer poolformer to detr-like model (simply replace backbone), It might because of detr using single feature, but I dont know exactly why, can u help take a look?

[code]

this is my config:

[code]

[2021-12-16 10:49] shinya7y commented on #16
`FORK_LAST3=1 python -m torch.distributed.launch ...` will remove `backbone.norm0` parameters.
https://github.com/sail-sg/poolformer/blob/348a8b6a8b6fe2377ac3814db74a4a6ef1b527a3/models/poolformer.py#L306-L316

[2021-12-16 13:59] jinfagang commented on #16
@shinya7y I fixed by specific a `fpn_start_level` params to avoid it. Original implementation not very elegant.

[2021-12-18 14:40] yuweihao commented on #16
Hi @jinfagang  and @shinya7y , thanks for your useful discussion.

[2021-12-19 02:03] saulzar commented on #4
Is there some relation between this pooling operation and graph convolutional networks? Because graphs have no regular structure GCNs are essentially some kind of pooling followed by MLP - which seems a lot like PoolFormer, though the MetaFormer still has an image pyramid which isn't present in graphs.

[2021-12-19 04:45] ShihuaHuang95 opened #17 "What is the difference between GN with group= 1 and LN?"
Hi, could you please identify the difference between GN with group=1 and LN? The accuracy gap is large.

[2021-12-20 05:25] yuweihao commented on #17
Hi @ShihuaHuang95 , please the issue #9 .

[2021-12-20 05:26] yuweihao commented on #17
Duplicate of #9 .

[2021-12-20 05:26] #17 closed

[2021-12-20 05:54] yuweihao commented on #4
Hi @saulzar , pooling is a basic operator in deep learning. Transformer or MetaFormer can be regarded as a type of Graph Neural Networks [1]. From this aspect, attention or pooling in MetaFormer can be regarded as a type of graph attention or graph pooling, respectively.

[1] https://graphdeeplearning.github.io/post/transformers-are-gnns/

[2021-12-20 06:35] jinfagang opened #18 "why the speed slower than pvtv2-b1?"
Recently I trained a transformer based instance seg model, tested with different backbone, here is the result and speed test:

![image](https://user-images.githubusercontent.com/21303438/146722412-603aa3e5-0c0f-48ec-98c3-61e289f11d29.png)

batchsize is training batchsize. Why the speed of poolformer is the slowest one? is that normal？

Slower than pvtv2-b1 and precision less than it...

[2021-12-20 06:51] yuweihao commented on #18
Hi @jinfagang , PoolFormer here is just a tool to demonstrate MetaFormer. The implementation may not be efficient for industrial use. For example, `nn.AvgPool2d` may not be optimized well in CUDA.  It can be replaced with `self.token_mixer = nn.Conv2d(in_channels=dim, out_channels=dim, kernel_size=3, stride=1, padding=1, groups=dim)` to speed up. For GroupNorm, I still don't know how to speed up i

[2021-12-20 11:29] jinfagang commented on #18
@yuweihao Hi, does that means I should train whole model again if change `nn.AvgPool2d` to `DW conv`?

[2021-12-21 01:39] chuong98 commented on #18
@jinfagang You don;t have to. In our experiment, replace GN with BN, and then reimplement the Poollayer with a fixed, predefined DepthWise conv, give about 30% speed up, and the accuracy drop 1% on ImageNet.

[2021-12-21 05:04] jinfagang commented on #18
@chuong98 can you show your pretrained fixed DepthWise conv? how to reset it's weights?

[2021-12-21 18:55] yuweihao commented on #18
Hi, @jinfagang , @chuong98 , I just found it seems that CUDA prefers NHWC rather than NCHW [1].  However, NCHW is used by default in PyTorch and PoolFormer also uses this layout. This may also be optimized to further speed it up [2].

![image](https://user-images.githubusercontent.com/15921929/146982878-37cb8610-447e-4ab0-b66a-45c4381ca932.png)

[1] https://docs.nvidia.com/deeplearning/performance

[2021-12-26 15:40] ShihuaHuang95 opened #19 "It is hard to reproduce the ADE20k result with PoolFormer S12"
Hi, I have tried to reproduce the ADE20k with S12 which is 37.2 for three times. And the results are 36.86, 36.87, and 36.92. I have not modified any default settings.

[2021-12-26 16:15] yuweihao commented on #19
Hi @ShihuaHuang95 , do you use apex and the training code in the [detection folder](https://github.com/sail-sg/poolformer/tree/main/detection)? I simply follow the training code from [PVT detection](https://github.com/whai362/PVT/tree/v2/detection). You may install apex and use the training code to try again.

[2021-12-26 16:38] ShihuaHuang95 commented on #19
@yuweihao Many thanks for your kind help and best wishes.
 The detection is fine and I am worried about the segmentation over ADE20K.

[2021-12-26 16:49] yuweihao commented on #19
Hi, @ShihuaHuang95 , sorry, it is a typo, both detection and segmentation follow training code from PVT. I have fixed the typo above.

[2021-12-26 22:00] #16 closed

[2021-12-27 02:32] gongchenting opened #20 "Could you please provide the training log on the ImageNet for reference?"

[2021-12-28 03:59] yuweihao commented on #20
Hi @gongchenting ,

Sure. Please see this [Google Drive folder](https://drive.google.com/drive/folders/1uUkYW3klhm-o288LjKrp65_S-wngXRFV?usp=sharing) for the training log (batch size of 4096, learning rate of 4e-3, on TPUs).

Happy new year in advance :)

[2021-12-28 19:33] chuong98 commented on #4
@yangcf10 @yuweihao

Average Pool combining with Subtraction yields a [Laplacian kernel] (https://homepages.inf.ed.ac.uk/rbf/HIPR2/log.htm)
[1  1  1
 1  -8 1
 1  1  1 ]
which is the classical kernel of image processing. The Laplacian kernel computes the Spatial gradient. So the token mixer of Pool Former is actually: `x <- x + alpha*Laplacian(x)`.

[2021-12-28 20:31] yuweihao commented on #4
Hi @chuong98 ,

Yes, it can be regarded as a fixed kernel in image processing (vs traditional CNN's learnable kernels). For each token, Laplacian(x) aggregates nearby token information different from itself, while the residual connection remains information of itself. The alpha in Normalization or LayerScale can balance nearby information and its own token. Without subtraction, since the MetaForme

[2022-01-06 10:40] ichiyasa0308 opened #21 "I can't load only m48 somehow."
thank you for your sharing  good code.
I have questions.

1
I downloaded poolformer_m48.pth.tar and poolformer_m36.pth.tar  and load them, but I can't load only m48 somehow.
loading parama are  different from saved one.
I created model by using code in train.py like this;
[code]
Is anything wrong?
params of args are default param  except for checkpoint_path and pretrained.

2
Also,  how can I set

[2022-01-07 13:44] yuweihao commented on #21
Hi @ichiyasa0308 , thanks for your attention.

1. Can you use `md5sum poolformer_m48.pth.tar' to check the md5 code (`0701bcdf45f6443150537c9cf2982b1f`)?
2. Dropout rate can be controlled by `--drop 0.1`.

[2022-01-08 19:50] DonkeyShot21 opened #22 "On the use of Apex AMP and hybrid stages"
Is there a specific reason why you used Apex AMP instead of the native AMP provided by PyTorch? Have you tried native AMP?

I tried to train `poolformer_s12` and `poolformer_s24` with [solo-learn](https://github.com/vturrisi/solo-learn); with native fp16 the loss goes to `nan` after a few epochs, while with fp32 it works fine. Did you experience similar behavior?

On a side note, can you provide t

[2022-01-10 15:54] yuweihao commented on #22
Hi @DonkeyShot21 , Thanks for your attention.

We only used to train `poolformer_s12` with Apex AMP and it works well, so we use the Apex AMP to show how to train it with Apex AMP on GPUs. We have not tested it with native AMP, and thus have no experience in native AMP.

We plan to release the implementation and more trained models of hybrid stages around March. As for [Pool, Pool, Attention, Atte

[2022-01-10 16:12] DonkeyShot21 commented on #22
Hi @yuweihao, thanks for the nice reply.

Apex can be hard to install without sudo, that is why I prefer native AMP. Actually, I have tried both (Apex, native) with solo-learn and both lead to nans in the loss quite quickly. This also happens with Swin and ViT. I am trying your implementation now with native AMP and it seems it works nicely, the logs are similar to the ones you posted on google dr

[2022-01-10 16:30] yuweihao commented on #22
Hi @DonkeyShot21 , thanks for your wonderful works for the research community:)

Yes, [DWConv, DWConv, Attention, Attention] also works very well and it is in our release plan of models with hybrid stages.

[2022-01-10 16:38] DonkeyShot21 commented on #22
Thank you again! Looking forward to the release!

[2022-01-12 14:24] DonkeyShot21 commented on #4
For anyone wondering, I got the following results on ImageNet-100:
* vanilla PoolFormer (`return self.pool(x) - x`): 87.64
* simple pooling (`return self.pool(x)`): 87.56
* DWConv (`return dwconv(x)`): 88.10

[2022-01-13 13:09] DonkeyShot21 commented on #22
Hey @yuweihao, sorry to bother you again. For the hybrid stage [Pool, Pool, Attention, Attention] did you use layer norm just for the attention blocks or for the pooling blocks as well? I am trying to reproduce it on ImageNet-100 but I didn't get better performance than vanilla poolformer. The params and flops are the same as you reported, so I guess the implementation should be correct.

[2022-01-13 16:06] yuweihao commented on #22
Hi @DonkeyShot21 , I use layer norm for all [Pool, Pool, Attention, Attention]-S12 blocks. I guess the attention blocks may be easy to overfit on small datasets, which results in worse performance than vanilla poolformer on ImageNet-100.

[2022-01-14 03:27] chuong98 commented on #4
that is really helpful, thanks @DonkeyShot21. @yuweihao Can you add these extra experiments to your revised version  ?

[2022-01-14 07:46] ydhongHIT opened #23 "Why not conduct the experiment to directly compare the pooling and DW convolution"
Thanks for your great work. I want to ask if there are some experiments to compare 3x3 avgpooling and 3x3 dw convolution, for example, directly replacing pooling with 3x3 dw convolution in the same architecture.

[2022-01-14 08:33] LouiValley opened #24 "Have you ever tested the network on Cifar-10 dataset? What about the results?"

[2022-01-14 10:55] yuweihao commented on #4
Hi @chuong98 , sure, we plan to add extra experiments about more different token mixers (eg. DWConv) on ImageNet-1K in our revised version.

[2022-01-14 13:21] yuweihao commented on #23
Hi @ydhongHIT , thanks for your attention. The target of our paper is to demonstrate that the competence of transformer models primarily stems from the general architecture MetaFormer. To achieve this target, we finally select the most simple token mixer pooling to demonstrate MetaFormer. The token mixer comparison of pooling and dw conv seems not very conform to the target of the paper. We plan t

[2022-01-14 13:38] yuweihao commented on #24
Hi @LouiValley , thanks for your attention. I have not ever tested the networks on Cifar-10 dataset. I remember some researchers have tested it on Cifar-10 but I cannot find the colab notebook currently. I will add this to the to-do list and report the results.

[2022-01-14 14:44] #23 closed

[2022-01-26 04:32] #6 closed

[2022-01-28 17:08] heytanay opened #26 "Addition of the Organization on HuggingFace Transformers"
Hello PoolFormer team!

I have been working on porting the implementation of PoolFormer to HuggingFace Transformers library (you can see my PR [here](https://github.com/huggingface/transformers/pull/15250)) and I was wondering if I can go ahead and add Sea AI labs as an organization to the HuggingFace models hub.

This will allow all model checkpoints to be uploaded onto the hub as well as model c

[2022-01-29 08:22] yuweihao commented on #26
Hi @heytanay ,

Sure. Many thanks for your contribution to porting the implementation of PoolFormer to HuggingFace Transformers. I have just created the [Sea AI Lab organization](https://huggingface.co/sail) on the HuggingFace model hub. Could I know what is your HuggingFace account?

[2022-01-29 08:29] heytanay commented on #26
Hi @yuweihao, thanks for creating an organization!

My Hugging Face account is: https://huggingface.co/heytanay

I have also requested to join the organization!

Thanks and regards,
Tanay Mehta

[2022-01-29 08:32] yuweihao commented on #26
Many thanks :)

[2022-01-29 08:36] #26 closed

[2022-02-01 05:15] ydhongHIT opened #27 "count_include_pad=False"
Hi, why do you set this argument to 'False'? The default is 'True'.

[2022-02-04 06:28] yuweihao commented on #27
Hi @ydhongHIT ,

Happy Spring Festival!

Since the nn.AvgPool2d's padding is more than zero in PoolFormer, it might be more reasonable intuitively to set `count_include_pad=False`.

[2022-02-08 09:15] heytanay commented on #26
Little change, I have closed the last PR and opened a new one [here](https://github.com/huggingface/transformers/pull/15531)

Sorry for any inconvenience.

[2022-02-12 08:29] wh-yu commented on #26
Note with thanks :)

[2022-02-12 08:30] yuweihao commented on #26
Noted with thanks :)

[2022-02-18 12:36] heytanay commented on #26
Hi @yuweihao,
The PoolFormer model has been added to 🤗 transformers (PR was merged yesterday)
You can view the docs here: https://huggingface.co/docs/transformers/master/en/model_doc/poolformer

I was also wondering if you could write the model cards? (for all the models: https://huggingface.co/sail)

Thank you!

[2022-02-19 15:27] yuweihao commented on #26
Hi @heytanay,

Many thanks for your contribution.

I will write the model cards in a few days.

Thank you again :)

[2022-03-01 15:44] #21 closed

[2022-03-01 15:44] #27 closed

[2022-03-01 15:44] #20 closed

[2022-03-01 15:44] #18 closed

[2022-03-01 15:44] #19 closed

[2022-03-05 08:59] MengzhangLI opened #30 "Invitation of making PR for OpenMMLab / MMSegmentation."
Hi, first congrats for acceptance of CVPR'2022. This work deserves because it is very great.

I am a member of OpenMMLab and mainly work for developing MMSegmentation. I think if it supported officially, many more people would use it for benchmark, which would promote research in computer vision area.

Would you like to make PR for openmmlab? We could discuss together to refactor your code and use

[2022-03-06 12:27] yuweihao commented on #30
Hi @MengzhangLI ,

Thanks for your attention and invitation. MMSegmentation is the wonderful codebase I base on to implement PoolFormer for semantic segmentation tasks. Thank you and other MMSegmentation contributors. I am glad to make PR of PoolFormer to MMSegmentation. I will do it in a few days.

Thank you :)

[2022-03-06 15:46] MengzhangLI commented on #30
Well, that's pretty cool! ;)

I think we could first support PoolFormer backbone into MMClassification, then downstream MMDetection and MMSegmentation could utilize this backbone. Here is related [Chinese article in Zhihu](https://zhuanlan.zhihu.com/p/436865195).

Here are:

(1) Reference about ConvNext.
In ConvNext, we refactored its original code and made [pr in mmclassification](https://github.

[2022-03-07 12:37] yuweihao commented on #30
Many thanks for the information.

[2022-03-11 14:26] MengzhangLI commented on #30
Hi weihao, how are you these days? Wish you all the best about ECCV'2022.

I have just finished PR about [K-Net](https://github.com/open-mmlab/mmsegmentation/tree/master/configs/knet), this month is more time available.

When you have time to make a pr for PoolFormer, we could create a wechat group to work together. So feel free to make pr or contact us for any problems.

Best,

[2022-03-12 11:42] yuweihao commented on #30
Hi @MengzhangLI ,

Thank you. Sorry that I am busy these days. I will start to work on this PR tomorrow. I will contact you by email and WeChat. Thanks :)

[2022-03-18 15:58] AK391 opened #31 "cvpr2022 call for demos"
Hi, there is a call for demos this year for cvpr 2022

https://cvpr2022.thecvf.com/call-demos

where a demo can be added to the Hugging Face organization here: https://huggingface.co/cvpr

would you be interested in submitting a demo for this?

[2022-03-21 08:22] yuweihao commented on #31
Hi @AK391 ,

Thanks for the information. Currently, we do not have a plan to prepare submissions of demos for the CVPR Demo Track.

Thank you again for your contribution in making an interesting [online demo](https://huggingface.co/spaces/akhaliq/poolformer) on Huggingface Spaces for PoolFormer :)

[2022-03-21 12:18] #31 closed

[2022-04-15 19:32] AbdelrahmanShakerYousef opened #32 "Inquiry about the Hybrid design"
Hello, thank you for sharing the code of the paper.

Could you please release the code of the hybrid design?

Also, I have a question please about the hybrid design in Table. 6. Did you replace the whole pooling stage with attention or SpatialFC stage ? or just replace the last block of each stage?

Thank you.

[2022-04-16 05:57] yuweihao commented on #32
Hi @AbdelrahmanShakerYousef ,

Thanks for your attention.

Sorry that currently, I need to prepare for my final exams. I will release the code and trained models of the hybrid design before 1 May. We replace the whole pooling stage with the attention or SpatialFC stage. Remember to add position embedding before the first attention stage. For hybrid design, the norm is set as Layer Norm and the bat

[2022-04-27 03:44] zhangwenbo681 opened #33 "could you have"

[2022-05-02 07:11] yuweihao commented on #32
Hi @AbdelrahmanShakerYousef ,

I have completed the release of [code](https://github.com/sail-sg/poolformer/blob/main/models/metaformer.py) and trained models of the hybrid design before 1 May (Anywhere on Earth Time Zone haha).

Thanks for your attention :)

[2022-05-07 14:27] rtfgithub opened #35 "why use use_layer_scale"
thanks for your great contribution!
in the  implement for poolformerblock ,there is a layer_scale after token_mixer. What is the impact of this operation?

[2022-05-09 07:54] yuweihao commented on #35
Hi @rtfgithub ,

Like stochastic depth, LayerScale can help train the models. For more details, please refer to the following that proposes this operator.

[Going deeper with Image Transformers](https://arxiv.org/abs/2103.17239)

[2022-05-10 14:43] rtfgithub commented on #35
thanks for your reply！I'd like to ask you another question.
As mentioned in your paper, the Training strategy of poolformer follow DEIT method. Did you  add the distillation token to model and use the distillation method with Hard-label distillation loss?

[2022-05-11 06:02] yuweihao commented on #35
Hi @rtfgithub ,

We follow the training hyper-parameters of DeiT but we don't add distillation methods.

[2022-05-11 06:36] rtfgithub commented on #35
thank u for your reply!Good luck！

[2022-06-10 06:09] DoranLyong opened #36 "How to achieve the grad-CAM visualization?"
Thanks for your awesome work and for sharing them all.

I found out that the pictures in [the supplement paper](https://openaccess.thecvf.com/content/CVPR2022/supplemental/Yu_MetaFormer_Is_Actually_CVPR_2022_supplemental.pdf) are beautiful, and I want to follow this.

Could you share the code for this? or can tell me how to achieve the grad-CAM activation map?

[2022-06-10 16:06] yuweihao commented on #36
Hi @DoranLyong , I use the repo [pytorch-grad-cam](https://github.com/jacobgil/pytorch-grad-cam) for visualization. I just upload the code that I use, please see [misc/cam_image.py](https://github.com/sail-sg/poolformer/blob/main/misc/cam_image.py).
[code]

[2022-06-11 02:55] DoranLyong commented on #36
Yeah~ I did :)  Thank you very much~

<img src="https://user-images.githubusercontent.com/13333380/173169948-6ccf9bf6-c644-4398-aed7-461cad3a73bd.png" width=480>

[2022-06-22 13:52] yuweihao commented on #36
You are welcome :)

[2022-06-22 13:52] #36 closed, assigned to nobody

[2022-06-22 13:52] yuweihao commented on #35
You are welcome :)

[2022-06-22 13:52] #35 closed

[2022-06-22 13:55] #32 closed

[2022-06-27 13:09] DoranLyong opened #37 "How to measure MACs?"
Hi, thanks for your nice work :)
I also watched your presentation record through this conference.

I want to apply the poolformer for my work, can I ask how did you measure the MACs of the architecture introduced in your paper?
Or if you were not bothered, I want to ask if I could be shared your measurement code.

[2022-06-28 22:37] yuweihao commented on #37
Hi @DoranLyong ,

Thanks for your attention.

I used to count the MACs of PoolFormer similar to this [code](https://github.com/google-research/electra/blob/master/flops_computation.py).

However, I found it convenient and accurate enough to use the package [fvcore](https://github.com/facebookresearch/fvcore). An example is shown in [misc/](https://github.com/sail-sg/poolformer/blob/main/misc/mac_c

[2022-06-29 03:54] DoranLyong commented on #37
Thanks for your fast response!

I did check your code and got confused about why you said that FLOPs by fvcore are actually MACs.
I have tried to explore the difference between FLOPs vs. MACs, and found [a similar issue](https://github.com/sovrasov/flops-counter.pytorch/issues/16).

I understand that FLOP counts both addition and multiplication in separate, but MAC considers both at once.
For exam

[2022-06-29 04:26] yuweihao commented on #37
Hi @DoranLyong ,

This is a common typo in many papers on computer vision. FLOP in these papers actually means MAC. For example, ResNet-50 actually has 8.2G FLOPs and 4.1G MACs.

The package fvcore also follows this common typo. You can check it by specifying the model in [misc/mac_count_with_fvcore.py](https://github.com/sail-sg/poolformer/blob/main/misc/mac_count_with_fvcore.py).
[code]
The outp

[2022-06-29 04:55] DoranLyong commented on #37
got it!  =)

thank you very much! I learned a new thing owing to you.

[2022-06-29 04:57] yuweihao commented on #37
You are welcome :)

[2022-06-29 04:57] #37 closed

[2022-07-11 03:22] paidaxing485 opened #38 "Aboutu the results graph"
Hello, can you tell me hows to get the results graph？

[2022-07-12 07:46] xingshulicc commented on #10
I totally agree with @072jiajia.
Exactly, I am not sure about the goal of this paper. The general architecture of MetaFormer is almost the same as vision transformers. The only difference is the token-mixer operator. By the way, your proposed pooling operation is a kind of non-trainable convolution. The patch embedding mentioned in the paper is a trainable convolution whose kernel size is equal to

[2022-07-12 07:59] yuweihao commented on #38
Hi @paidaxing485 ,

Thanks for your attention. Do you mean the figure 3 in the paper? We drew the figure using the python package matplotlib.

[2022-07-12 08:38] yuweihao commented on #10
Hi @xingshulicc ,

Thanks for your attention. The goal of this paper is not to propose novel models. The idea of this paper is to propose a hypothesis and come up with methods to verify it.

**Hypothesis**: Instead of the specific token mixer, the general architecture, termed MetaFormer, is more essential for the model to achieve competitive performance.

**Verification**: We specify the token mix

[2022-07-13 02:55] xingshulicc commented on #10
Hi,
Thank you for your reply. Based on your response, can I say that the most important part for MetaFormer is the architecture abstracted from Transformer, like Figure 1 presented in the paper? If it is true, how can I further improve MetaFormer performance in the future work? Maybe the best way is to enhance the token-mixer part.

[2022-07-14 10:06] yuweihao commented on #38
@paidaxing485 ,

To get the quantitative results, please refer to [this](https://github.com/sail-sg/poolformer/tree/main/segmentation#evaluation). To visualize the results, please refer to this [code](https://github.com/open-mmlab/mmsegmentation/blob/master/demo/image_demo.py) from mmsegmentation.

[2022-07-15 04:41] xingshulicc commented on #10
Hi,
Thank you for your reply. I agree with some of your opinions.
However, in the paper, I did not see substantial modifications to the MetaFormer general architecture. The ablation study part just compared the performance of the different components (Table 5). Furthermore, I can see that the token-mixer part contributes the most to the performance improvement.
Of course, your paper really inspire

[2022-07-15 16:19] jizongFox opened #39 "Design on positional embedding?"
Hello authors,

I appreciate a lot your current work, which inspired the community. I am here to raise a very simple and quick question after checking the code and architecture design.

I observed that network using pooling, MLP or identical as token mixer, you do not include positional embedding, while you consider this component only when you use MHA. What is the concern of this design and why o

[2022-07-16 14:36] yuweihao commented on #39
Hi @jizongFox ,

Thanks for your attention. Similar to convolution, pooling a local operator that only mixes nearby tokens, so positional embedding is not needed. I used to add positional embedding into PoolFormer-S12 and can not observe significant improvement.

For MLP, $X' = WX$, where $X'\in \mathcal{R}^{N\times C}$  and $X \in \mathcal{R}^{N\times C}$ are output and input features with token

[2022-07-16 17:26] jizongFox commented on #39
Hello Yu,

I am convinced by your answer and thank you a lot. However, for MLP, if the positional embedding is not included, the network may not be able to recognize the postion along x and y axis. It can only retain a flatten relationship. Does this make any sense?

[2022-07-16 18:41] yuweihao commented on #39
Hi @jizongFox ,

In my opinion, MLP models can recoginize 2D structure by training from large amount of images. For position $i \in [0, 1, 2, ..., N-1]$ corresponding learnable parameters $W_{i, :} \in \mathcal{R}^{1\times N}$, reshape it into $M^i \in \mathcal{R}^{H \times W}$ where $H$ is the height, $W$ is the width and $N = HW$. If we visualize the $M^i$, it can be seen that $M^i_{j, k}$ ($j =

[2022-07-18 20:26] jizongFox commented on #39
Thank you for your reply. I will carefully read these works and reopen the issue if my question persists.

[2022-09-20 14:01] youngtboy opened #40 "About MLN（Modified Layer Normalization）"
This paper provides new perspectives about Transformer block, but I have some questions about one of the details.
As far as I know, the LayerNorm officially provided by Pytorch implements the same function as the MLN, which computes the
mean and variance along token and channel dimensions. So where is the improvement?
![image](https://user-images.githubusercontent.com/66102178/191280570-ac885e34-3

[2022-09-20 14:19] yuweihao commented on #40
Hi @youngtboy ,

Thanks for your attention. Please refer to this issue #9 .

[2022-09-20 14:28] youngtboy commented on #40
Thanks for your explanation!

[2022-11-15 09:57] #38 closed

[2022-11-15 09:57] #30 closed

[2022-11-15 09:57] #40 closed

[2022-11-15 10:06] yuweihao commented on #40
Duplicate of #9